@charset "utf-8";
/* CSS Document */

body {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; background-color: #f1deb8; margin: 0 0 0 0; padding: 0 0 0 0; }
h1 { color: #fe9200; margin: 0 0 0 0; padding: 0 0 8px 0; }
h2 { color: #fe9200; margin: 0 0 0 0; padding: 4px 0 4px 0; }
h3 { margin: 0 0 0 0; font-size: 1em; font-weight: normal; }
h3 strong { font-weight: bold; font-size: 1.1em; }

div.headerBar { position: relative; width: 900px; margin: 0 auto 0 auto; padding: 0 0 0 0; z-index: 2; }
div.headerNav { position: relative; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; color: #4f432d; float: right; margin-top: 10px; }
div.headerNav a:link, div.headerNav a:visited { border-radius: 5px; border: 3px #fff5e1 groove; background-color: #f0d39a; color: #7a694a; text-decoration: none; padding: 0px 16px 2px 16px; }
div.headerBar img { float: left; clear: right; }

div.signupBar { position: relative; top: 100px; width: 100%; height: 326px; background-image: url(../images/paw_background.jpg); background-repeat: repeat-x; z-index: 0; }
div.signupBody, div.interiorBody { position: relative; width: 900px; margin: -140px auto 0 auto; z-index: 999; }

div.signupBody form { margin-top: -25px; margin-left: 125px; float: right; }
#titleIcon { float: right; margin-top: -115px; }
input.signupBody { width: 300px; border: none; border-radius: 5px; background-color: #ffffff; color: #979797; font-size: 1.1em; padding: 4px 4px 4px 4px; margin-bottom: 10px; display: block; }
input.signupButton { color: #ffffff; background-color: #fe9200; border-radius: 5px; width: 308px; border: none; padding: 5px 5px 5px 5px; margin-top: 10px; font-size: 1.2em; }

div.leftBar { width: 120px; float: left; margin-top: -60px; }
img.headerLogo { margin-bottom: 10px; float:left; }

div.welcomeBar { float: left; width: 115px; height: 325px; padding: 4px 18px 4px 18px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; color: #ffffff; background-color: #fe9200; text-align: center; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }
div.welcomeBar img { margin: 10px 6px 20px; }
div.controlBar { float: left; width: 139px; border-radius: 5px; color: #ffffff; background-color: #fe9200; text-align: left; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 8px 6px 8px 6px; }
div.controlBar a:link, div.controlBar a:visited { color: #fff; text-decoration: none; display: block; } 
div.controlBar a:hover { background-color: #ffb44e; }
.error { color: #F20000; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; display: block; }
div.plusOnes { color: #fff; }

#profileHeader { float: right; left: 175px; width: 650px; margin-top: -85px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 10px; }
div.repeatedBodyContent { float: right; left: 175px; width: 650px; margin-top: -70px; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 10px; }
div.followedPosts { border-radius: 5px; background-image: url(../images/25_percent_background.png); background-repeat: repeat; padding: 5px 5px 5px 5px; margin-bottom: 10px; }
p.postContent { margin: 0px; }
p.dateTime { font-style: italic; text-align: right; }
#newPostForm { padding: 6px;}
#content { width: 500px; border-radius: 5px; padding: 3px 10px 3px 10px; }
#newPost { background-color: #fe9200; color: #fff; border: none; border-radius: 5px; padding: 3px 20px 3px 20px; }
a.deletePost { background-color: #fe9200; border-radius: 3px; color: #fff; font-size: .9em; padding: 2px 6px 2px 6px; margin-right: 5px; text-decoration: none; }